*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html,body{
    height: 100%;
    width: 100%;
}
header{
    width: 100%;
    height: 100%;
    background-image: url(img/header-bg.png);
    background-position: bottom;
    background-size: cover ;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header-content{
    color: whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 1.8rem;
}
.line{
    width: 17rem;
    height: 0.23rem;
    background-color: #fc036f;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.ctn{
    padding: 10px 17px;
    background: #fc036f;
    font-size: 1.2rem;
    border-radius: 30px;
    color: whitesmoke;
}
ul{
    list-style: none;
}
.active{
    color: #fc036f;
    text-decoration: underline;
    font-weight: bold;
}
/* Navbar */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.navbar .nav-links{
    display: flex;
    gap: 5rem;

}
.nav-links li a{
    color: #fff;
    font-size: 1.2rem;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
/* Events */
section{
    width: 80%;
    margin: 3rem auto;
}
.title{
    text-align: center;
    font-size: 1.1rem;
    color: #494973;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}
/* Mobile Device */

@media (max-width: 850px){
    html,body{
        overflow-x: hidden;
    }
    .menu-btn{
        display: block;
    }
    .navbar{
        padding-top:0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background: #484872;
        margin-top: -70rem;
        transition: all 0.5s ease;
    }
}