/* ----- POPPINS FONT Link ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/* ----- VARIABLES ----- */
:root{
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(68, 68, 68);
    --text-color-third: rgb(30, 159, 171);

    --first-color: rgb(110, 87, 224);
    --first-color-hover: rgb(40, 91, 212);

    --second-color: rgb(0, 201, 255);
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);

}
/* ----- SMOOTH SCROLL ----- */
html{
    scroll-behavior: smooth;
}
/* ----- GLOBAL BUTTON DESIGN ----- */
.btn{
    font-weight: 600;
    padding: 12px 20px;
    background: #efefef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}
.btn>i{
    margin-left: 10px;
}
.btn:hover{
    background: var(--second-color);
    color: var(--color-white);
}
/* ----- BASE ----- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins,sans-serif;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: inherit;
}
span{
  font-size: 0.887rem;
  color: var(--text-color-second);
}
body{
  min-height: 100vh;
  padding-top: 80px;
}
.app{
  width: 100%;
  margin: auto;
}
.section-p1{
    padding: 2.5rem 5rem;
}
#section-m1{
    margin: 2.5rem 0;
}