
.footer {
  background-color: #0f172a;
  color: #cbd5e1; 
  padding: 40px 20px 20px;
  font-size: 0.95rem;
}


.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 1400px;
  margin: auto;
}


.footer-col {
  flex: 1;
  min-width: 200px;
}


.footer-col.brand {
  flex: 1.4;
}





.footer .footer-desc {
  margin: 9px 0px;
  color: #94a3b8;
  line-height: 1.6;
}
.footer .footer-desc h3{
  color: #fff;
}
.footer .footer-socials{
  display: flex;
 gap: 2rem;
}
.footer .footer-socials .icon{
  height: 2.2rem;
  width: 2.2rem;
  background-color: #aec0db;
  color: #1e293b;
  padding: 8px;
  border-radius: 50%;
}

.footer .footer-col h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 16px;
  color: white;
}

.footer .footer .footer .footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-col ul li {
  margin-bottom: 10px;
  cursor: pointer;
  color: #cbd5e1;
  transition: 0.2s;
}

.footer .footer-col ul li:hover {
  text-decoration: underline;
  color: #f8fafc;
}


.footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  border-top: 1px solid #1e293b;
  padding-top: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #64748b;
  flex-wrap: wrap;
  font-size: 0.85rem;
  gap: 10px;
  text-align: center;
}
